#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #cb3ae1;
}

#containerPrincipal{
  flex-grow: 1;
}
.container-wrapper {
  max-width: 500px; 
  margin: 0 auto;
}